<h1>Top Production Companies</h1>

<ol>
  <%= @production_companies.each do | production_company | %>
    <li><%= link_to production_company.title, production_company %> <em>(<%= production_company.movie_count %>)</em></li>
  <% end %>
</ol>